Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [1]:
import selenium
from selenium import webdriver
import pandas as dd
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver = webdriver.Chrome(r'C:/Users/SACHIN/Downloads/chromedriver_win32/chromedriver.exe')

In [3]:
driver = webdriver.Chrome('chromedriver.exe')

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
search_job = driver.find_element_by_class_name("suggestor-input")

In [7]:
search_job
search_job.send_keys("Data Scientist")

In [8]:
search_locn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_locn
search_locn.send_keys("Bangalore")

In [9]:
search_btn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn
search_btn.click()

In [10]:
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)
job_title[0:10]
title = []
for i in range(len(job_title)):
    title.append(job_title[i].text)
title[0:10]

['Data Scientist/ Data Analyst',
 'Data Scientist / Sr. Data Engineer',
 'Lead Data Scientist',
 'Lead Data Scientist - Prescriptive Analytics/Predictive Modeling',
 'Lead Data Scientist - NLP/OpenCV',
 'Senior Data Scientist reqd For a top notch AI Product Co!(Perm Remote)',
 'Assistant Manager/Manager- Data Scientist',
 'Data Scientist- Stats/Math PhDs',
 'Data Scientist',
 'Senior Staff Data Scientist-Computer Vision']

In [11]:
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company[0:10]
company_name = []
for i in range(len(company)):
    company_name.append(company[i].text)
company_name[0:10]

['JK Technosoft',
 'Convergence Infotech Ltd',
 'Freshdesk',
 'Codersbrain',
 'Codersbrain',
 'Infrrd Private Limited',
 'Genpact',
 'Genpact',
 'Optum',
 'FabHotel Aay Kay Model Town']

In [12]:
job_locn = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_locn[0:10]
location = []
for i in range(len(job_locn)):
    location.append(job_locn[i].text)
location[0:10]

['Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sadashiva Nagar)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Remote',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [13]:
exp_req = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_req[0:10]
experience = []
for i in range(len(exp_req)):
    experience.append(exp_req[i].text)
experience[0:10]

['5-6 Yrs',
 '4-9 Yrs',
 '5-8 Yrs',
 '6-11 Yrs',
 '6-11 Yrs',
 '7-12 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '2-5 Yrs']

In [15]:
jobs = dd.DataFrame()
jobs["Job Title"] = title
jobs["Company Name"] = company_name
jobs["Location"] = location
jobs["Experience Req."] = experience
jobs

,Job Title,Company Name,Location,Experience Req.
0,Data Scientist/ Data Analyst,JK Technosoft,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-6 Yrs
1,Data Scientist / Sr. Data Engineer,Convergence Infotech Ltd,Bangalore/Bengaluru(Sadashiva Nagar)\n(WFH dur...,4-9 Yrs
2,Lead Data Scientist,Freshdesk,Bangalore/Bengaluru,5-8 Yrs
3,Lead Data Scientist - Prescriptive Analytics/P...,Codersbrain,"Hyderabad/Secunderabad, Bangalore/Bengaluru",6-11 Yrs
4,Lead Data Scientist - NLP/OpenCV,Codersbrain,"Hyderabad/Secunderabad, Bangalore/Bengaluru",6-11 Yrs
5,Senior Data Scientist reqd For a top notch AI ...,Infrrd Private Limited,Remote,7-12 Yrs
6,Assistant Manager/Manager- Data Scientist,Genpact,"Gurgaon/Gurugram, Bangalore/Bengaluru",4-9 Yrs
7,Data Scientist- Stats/Math PhDs,Genpact,Bangalore/Bengaluru,5-10 Yrs
8,Data Scientist,Optum,Bangalore/Bengaluru,5-10 Yrs
9,Senior Staff Data Scientist-Computer Vision,FabHotel Aay Kay Model Town,Bangalore/Bengaluru,2-5 Yrs
10,Senior Staff Data Scientist-Computer Vision,Baker Hughes,Bangalore/Bengaluru,4-8 Yrs
11,Data Scientist - ML,Blue Yonder,Bangalore/Bengaluru,3-7 Yrs
12,Data Scientist,Gojek,Bangalore/Bengaluru,3-9 Yrs
13,Lead Data Scientist,cloudneeti,Bangalore/Bengaluru,4-7 Yrs
14,Sr Data Scientist,Uber,Bangalore/Bengaluru,6-12 Yrs
15,Assistant Manager/Manager/Senior Manager - Dat...,Huquo Consulting Pvt. Ltd,"Delhi / NCR, Bangalore/Bengaluru",4-9 Yrs
16,HCL Tech Opening - Lead Data Scientist,HCL,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",10-20 Yrs
17,Sr . Data Scientist,Visa,Bangalore/Bengaluru,6-8 Yrs
18,Sr. Associate - Data Scientist,CHANGE LEADERS CONSULTING,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",2-5 Yrs
19,Need Data scientists and data engineers - WFH-...,Covalense Technologies Private Limited,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",8-13 Yrs