Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [1]:
import selenium
from selenium import webdriver
import pandas as dd
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver = webdriver.Chrome(r'C:/Users/SACHIN/Downloads/chromedriver_win32/chromedriver.exe')

In [3]:
driver = webdriver.Chrome('chromedriver.exe')

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job
search_job.send_keys("Data Scientist")

In [7]:
search_btn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn
search_btn.click()

In [8]:
locn_fltr = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
locn_fltr
locn_fltr.click()

In [9]:
salary_fltr = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
salary_fltr
salary_fltr.click()

In [10]:
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)
job_title[0:10]
title = []
for i in range(len(job_title)):
    title.append(job_title[i].text)
title[0:10]

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Associate Data Scientist - Java/ Scala/ Apache Server',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Hiring For Senior Data Scientist-Noida',
 'Data scientist- Python',
 'Data Scientist _NLP',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Data Scientist (freelance)',
 'Only Fresher / Python Data Scientist / Trainee / Analytics - MNC Jobs',
 'Urgent Requirement || Data Scientist || Noida']

In [11]:
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company[0:10]
company_name = []
for i in range(len(company)):
    company_name.append(company[i].text)
company_name[0:10]

['NTT Data',
 'Smart work Consultants',
 'GABA Consultancy services',
 'Lumiq.ai',
 'TeamPlus Staffing Solution Pvt Ltd',
 'EXL',
 'Sejal Consulting Hub',
 '2Coms',
 'GABA Consultancy services',
 'HCL']

In [12]:
job_locn = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_locn[0:10]
location = []
for i in range(len(job_locn)):
    location.append(job_locn[i].text)
location[0:10]

['Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Noida, New Delhi, Delhi / NCR',
 'Noida, New Delhi, Greater Noida',
 'Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'New Delhi, Delhi',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Noida, Delhi / NCR']

In [13]:
exp_req = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_req[0:10]
experience = []
for i in range(len(exp_req)):
    experience.append(exp_req[i].text)
experience[0:10]

['0-0 Yrs',
 '1-4 Yrs',
 '0-0 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '0-3 Yrs',
 '2-7 Yrs',
 '0-0 Yrs',
 '3-8 Yrs']

In [14]:
jobs = dd.DataFrame()
jobs["Job Title"] = title
jobs["Company Name"] = company_name
jobs["Location"] = location
jobs["Experience Req."] = experience
jobs

,Job Title,Company Name,Location,Experience Req.
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",0-0 Yrs
1,Associate Data Scientist - Java/ Scala/ Apache...,Smart work Consultants,Noida,1-4 Yrs
2,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,"Noida, New Delhi, Delhi / NCR",0-0 Yrs
3,Hiring For Senior Data Scientist-Noida,Lumiq.ai,"Noida, New Delhi, Greater Noida",2-6 Yrs
4,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,Gurgaon/Gurugram,3-6 Yrs
5,Data Scientist _NLP,EXL,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ...",3-8 Yrs
6,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",0-3 Yrs
7,Data Scientist (freelance),2Coms,"New Delhi, Delhi",2-7 Yrs
8,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,"Noida, New Delhi, Gurgaon/Gurugram",0-0 Yrs
9,Urgent Requirement || Data Scientist || Noida,HCL,"Noida, Delhi / NCR",3-8 Yrs
10,Hiring For Data Scientist- Gurgaon/ Noida,Mascot e-services,"Noida, Gurgaon/Gurugram",2-4 Yrs
11,Data Scientist,Boston Consulting Group,New Delhi,2-5 Yrs
12,Data Scientist,Stefanini,Noida,3-8 Yrs
13,Senior Data Scientist,iNICU,Delhi,1-5 Yrs
14,Lead Data Scientist - KYC/Fraud/Marketing,Tide Software,New Delhi,1-6 Yrs
15,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",3-7 Yrs
16,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1-3 Yrs
17,Data Scientist,NAVIKENZ INDIA PRIVATE LIMITED,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-5 Yrs
18,Data Scientist,Mahajan Imaging,Delhi,2-6 Yrs
19,Data Scientist,Mahajan Imaging,Delhi,2-6 Yrs