In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\sachin\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\sachin\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sachin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\sachin\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: idna in c:\users\sachin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: outcome in c:\users\sachin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sachin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\sachin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\sachin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\sachin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sachin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: pycparser in c:\users\sachin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\sachin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: certifi in c:\users\sachin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\sachin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\sachin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sachin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\sachin\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sachin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [2]:
import selenium
from selenium import webdriver
import pandas as dd
import warnings
warnings.filterwarnings("ignore")

In [3]:
driver = webdriver.Chrome(r'C:/Users/SACHIN/Downloads/chromedriver_win32/chromedriver.exe')

In [4]:
driver = webdriver.Chrome('chromedriver.exe')

In [5]:
url = 'https://www.naukri.com/'
driver.get(url)

In [7]:
search_job = driver.find_element_by_class_name("suggestor-input")

In [8]:
search_job
search_job.send_keys("Data Analyst")

In [9]:
search_locn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")

In [10]:
search_locn
search_locn.send_keys("Bangalore")

In [11]:
search_btn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")

In [12]:
search_btn
search_btn.click()

In [13]:
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [14]:
len(job_title)
job_title[0:10]
title = []
for i in range(len(job_title)):
     title.append(job_title[i].text)
title[0:10]

['Senior Data Analyst II',
 'Hiring For Data Analyst I(SQL & Python)',
 'Data Scientist/ Data Analyst',
 'Reference Data Analyst',
 'Senior Data analyst (Azure / MDM)',
 'Data Analyst I',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst II']

In [15]:
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company[0:10]
company_name = []
for i in range(len(company)):
    company_name.append(company[i].text)
company_name[0:10]

['Flipkart',
 'Clario India Pvt Ltd',
 'JK Technosoft',
 'Deutsche Bank',
 'Syneos Health',
 'Cerner',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'Flipkart']

In [16]:
job_locn = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_locn[0:10]
location = []
for i in range(len(job_locn)):
    location.append(job_locn[i].text)
location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [17]:
exp_req = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_req[0:10]
experience = []
for i in range(len(exp_req)):
    experience.append(exp_req[i].text)
experience[0:10]

['2-4 Yrs',
 '0-2 Yrs',
 '5-6 Yrs',
 '2-4 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '2-4 Yrs']

In [18]:
jobs = dd.DataFrame()
jobs["Job Title"] = title
jobs["Company Name"] = company_name
jobs["Location"] = location
jobs["Experience Req."] = experience
jobs

,Job Title,Company Name,Location,Experience Req.
0,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,2-4 Yrs
1,Hiring For Data Analyst I(SQL & Python),Clario India Pvt Ltd,Bangalore/Bengaluru,0-2 Yrs
2,Data Scientist/ Data Analyst,JK Technosoft,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-6 Yrs
3,Reference Data Analyst,Deutsche Bank,Bangalore/Bengaluru,2-4 Yrs
4,Senior Data analyst (Azure / MDM),Syneos Health,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",4-7 Yrs
5,Data Analyst I,Cerner,Bangalore/Bengaluru,5-10 Yrs
6,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,3-6 Yrs
7,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-8 Yrs
8,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,2-4 Yrs
9,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,2-4 Yrs
10,Hiring Data Analyst (L6),Born Commerce,Bangalore/Bengaluru\n(WFH during Covid),9-14 Yrs
11,Hiring Data Analyst (L5),Born Commerce,Bangalore/Bengaluru\n(WFH during Covid),5-10 Yrs
12,Data Analyst - EdTech,TalentStack,Bangalore/Bengaluru,2-6 Yrs
13,Senior Data Analyst - KPO,Huquo Consulting Pvt. Ltd,"Gurgaon/Gurugram, Bangalore/Bengaluru",7-12 Yrs
14,Senior Data Analyst - Ads & Promotion Platform...,Gojek,Bangalore/Bengaluru,3-8 Yrs
15,Hiring Data analyst with Pharma Background acr...,HCL,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",6-11 Yrs
16,Data Analyst,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru\n(WFH during Covid),2-5 Yrs
17,Data Analyst,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru\n(WFH during Covid),2-5 Yrs
18,Immediate hiring Data Analyst For Unisys Banga...,Teamlease Servcies limited,Bangalore/Bengaluru,1-3 Yrs
19,MDM - Data Analyst,Shell,Bangalore/Bengaluru,4-9 Yrs

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data